
<h1 class="heading">Build Your Tomorrow</h1>
<form action="/signin" method="post" class="form-signin">
  <h2 class="form-signin-heading">Sign In</h2>
  <input type="text" name="username" class="input-block-level" placeholder="Username">
  <input type="password" name="password" class="input-block-level" placeholder="Password">
  <label class="checkbox">
    <input type="checkbox" value="remember-me"> Remember me
  </label>
  <button class="btn btn-primary" type="submit">Sign in</button>
</form>
